@function r($px) {
  @return $px / 50px * 1rem;
}

.shop-group {
  padding-bottom: 0.2rem;
  .cart-list-wp {
    margin-bottom: 0.2rem;
    background: #fff;
    .cart-shop-name {
      padding-left: 0.2rem;
      background: #fff;
      overflow: hidden;
      height: 0.8rem;
      line-height: 0.8rem;
      font-size: 0.28rem;
      .goods-cart {
        font-size: 0.3rem;
        margin-top: 0.2rem;
        input {
          display: none;
        }
        >span {
          float: left;
          line-height: 0.4rem;
          margin-left: 0.2rem;
        }
      }
    }
    .ck_c {
      float: left;
      width: 0.4rem;
      height: 0.4rem;
      cursor: pointer;
      position: relative;
      .bottom {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border: 1px solid #c0c0c0;
        border-radius: 0.2rem;
      }
      .active {
        position: absolute;
        display: none;
        top: 0.05rem;
        left: 0.16rem;
        box-sizing: border-box;
        width: 0.12rem;
        height: 0.26rem;
        transform: rotate(45deg);
        border-width: 2px;
        border-style: solid;
        border-color: #fff;
        border-top: 0;
        border-left: 0;
      }
    }
    .check {
      .bottom {
        border-color: #fd5500;
        background: #fd5500
      }
      .active {
        display: block;
      }
    }
    .cart-litem-list {
      li {
        .items-wl {
          // float: left;
          // width: 80%;
          background: #f7f7f7;
          padding-left: 0.18rem;
          >input {
            margin-top: 0.88rem;
            float: left;
            display: none;
          }
          label {
            margin-top: 0.88rem;
            float: left;
          }
          .it-img {
            width: 24%;
            float: left;
            margin: 0.08rem;
            margin-top: 0.2rem;
            img {
              width: 100%;
            }
          }
          .it-cart-product {
            float: left;
            padding-top: 0.2rem;
            width: 67%;
            padding-bottom: 0.2rem;
            .sitem-txt {
              color: #333;
              font-size: 0.3rem;
              width: 100%;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              display: -webkit-box;
              height: 0.72rem;
              line-height: 0.36rem;
            }
            .sitem-msg {
              color: #999;
              font-size: 0.18rem;
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .sitem-b {
              width: 100%;
              overflow: hidden;
              .stiem-p {
                float: left;
                width: 40%;
                i {
                  font-style: normal;
                }
                .original-price {
                  display: block;
                  font-size: 0.24rem;
                  color: #808080;
                  text-decoration: line-through;
                }
                .current-price {
                  display: block;
                  font-size: 0.3rem;
                  color: #f81234;
                }
              }
              .quantity-wrapper {
                height: 0.6rem;
                background: #f0f0f0;
                border-radius: 0.08rem;
                float: right;
                margin-top: 0.12rem;
                .quantity-decrease1, .quantity-decrease2 {
                  display: block;
                  float: left;
                  width: 0.62rem;
                  height: 100%;
                  border-radius: 0.003rem 0 0 0.03rem;
                  position: relative;
                }
                .quantity-decrease1 {
                  border-right: 0.02rem solid #fff;
                  background: #f7f7f7;
                  .reduce1 {
                    background: url('../../assets/img/reduce1.png') no-repeat;
                    width: 0.22rem;
                    height: 0.04rem;
                    background-size: 100%;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -0.02rem;
                    margin-left: -0.11rem;
                    z-index: 10;
                  }
                }
                .quantity {
                  float: left;
                  width: 0.78rem;
                  border: none;
                  line-height: 0.6rem;
                  text-align: center;
                  background: #f0f0f0;
                  font-size: 0.26rem;
                  color: #333;
                }
                .quantity-decrease2 {
                  border-left: 0.02rem solid #fff;
                  .plus {
                    background: url('../../assets/img/add.png') no-repeat;
                    width: 0.22rem;
                    height: 0.22rem;
                    background-size: 100%;
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-top: -0.11rem;
                    margin-left: -0.11rem;
                  }
                }
              }
            }
          }
        }
        .items-wl::after{
          content: '';
          height: 0;
          display: block;
          clear: both;
        }
      }
    }
  }
}